@use "/src/sass/base/variables.scss" as v;

.terms {
  padding-top: 50px;

  &__title {
    margin-top: 60px;
  }

  &__wrapper {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__text {
    color: v.$dark;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

@media screen and (min-width: 1920px) {
  .terms {
    padding-top: 40px;

    &__title {
      margin-top: 100px;
    }
  }
}
